body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #383838;
  color: #14fdce;
  font-family: 'VT323', monospace;
  line-height: 1.2;
  font-size: 1.5em;
}

h1 {
  text-align: center;
  font-size: 3em;
}

img {
  display: block;
  margin: 0 auto;
  object-fit: contain;
  width: 100%;
}

ul {
  text-align: center;
}

.buttons {
  background-color: #666699;
  font-family: 'VT323', monospace;;
  font-size: 20px;
  color: #14fdce;
  border-radius: 25%;
  border-color: #14fdce; 
  padding: 10px;
  margin: 0 2em;
}

.buttons:hover {
    background-color: #031e11;
}

.buttons:focus {
  outline: none;
}

.output {
  animation: crt-output 10ms infinite; 
  background-color: #031e11;
  padding: 3rem 2rem;
  pointer-events: auto;
  text-shadow: 0rem 0.2rem 1rem lighten(#031e11,20%);
  z-index: -1
}

@keyframes crt-output {
  0% { opacity: 0.9; }
  50% { opacity: 1; }
}

.scanlines {
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0),
    rgba(255,255,255,0) 50%,
    rgba(0,0,0,0.2) 70%,
    rgba(0,0,0,0.6)
  );
  background-size: 100% 0.3rem;
  border-radius: 2rem;
}

.glow {
  animation: crt-glow 60s infinite; 
  background:
    radial-gradient(circle at center,
    rgba(27,212,89,1) 0%,
    rgba(27,212,89,0.88) 58%,
    rgba(21,235,92,0.57) 80%,
    rgba(19,94,29,0.27) 93%,
    rgba(10,23,12,0) 100%);
  filter: blur(10rem) opacity(0.1);
  opacity: 0.15;
  pointer-events: none; 
}

